/*General styling*/

body {
	background-color: #f2f2f2;
}

.row {
	margin-right: 1px;
}

.inner-container {
	margin-left: 5em;
	margin-right: 5em;
}

.inner-container-padding {
	padding:2em;
}

#bufferForHeader {
	margin-top: 3.5em;
}

.pageTitle {
	border-bottom: solid #d3d3d3;
}

footer {
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 40px;
	background: white;
	box-shadow: 0 1px 1px 0 rgba(240,240,240,0.1) inset;
	font-size: 13px;
	color: #999;
	line-height: 1.8em;
}

footer h4 {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	color: #211746;
}

footer ul {
	font-size: 11px;
	list-style: none;
}

/*END OF GENERAL STYLING*/



/*Index.html*/

#header-index {
	height: 42em;
	background-image: url(../assets/images/headerBkg.png);
}

#header-left-col {
	padding-top: 12em;
	padding-left: 5em;
	padding-bottom: 5em;
	padding-right: 5em;
}

#header-right-col {
	padding-top: 3.5em;
	padding-left: 1em;
	padding-bottom: 5em;
	padding-right: 5em;
}

#headerTitle {
	font-size: 2.7em;
	font-family: Courier;
	font-weight: bold;
}

#headerDescription {
	font-size: 1.2em;
	font-family: sans-serif;
	background:rgba(255,255,255,0.3);
}

#header-homeUi {
	width: 125%;
}

.feature_image {
	padding-top: 5em;
	padding-left: 5em;
	padding-bottom: 2em;
	padding-right: 5em;
}

.feature_description {
	padding-top: 5em;
	padding-left: 5em;
	padding-bottom: 2em;
	padding-right: 5em;
}

.feature_headers {
	font-size: 2em;
	font-family: Courier;
	font-weight: bold;
}

.feature_text {
	font-size: 1.25em;
}

/* XSmall */
@media only screen and (max-device-width: 480px) {
	#header-left-col {
		margin-top: 5px;
		padding: 0em;
	}

	#header-right-col {
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 0em;
	}

	#headerTitle {
		font-size: 2.5em;
		font-family: Courier;
		font-weight: bold;
	}

	#header-homeUi {
		width: 100%;
	}
}

/*END OF INDEX STYLING*/



/*Contact.html*/
/* XSmall */
@media only screen and (max-device-width: 480px) {
	.inner-container {
		margin-left: 2em;
		margin-right: 2em;
	}

	.inner-container-padding {
		padding-top:1em;
		padding-right: 0em;
		padding-bottom: 0em;
		padding-left: 0em;
	}

	#gmap_canvas {
		height: 100px;
		width: 100px;
	}
}


/*END OF CONTACT STYLING*/

